 
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .close {
    position: absolute;
    top: 13px; right: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #aaa;
  }
  
  .close:hover {
    color: #555;
  }
  
  .addModalContainer {
    position: relative;
    width: 496px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-height: 215px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .head {
    background: #2C3E50;
    border-radius: 20px 20px 0px 0px;
    padding: 15px 15px 10px 15px;
    height: 25px;
    font-size: 15px;
    color: #FFFFFF;
  }
  
  .content {
    padding: 20px 55px 20px 55px;
    flex-grow: 1;
    font-size: 17px;
    color: #000000;
  }

  label {
    display: inline-block;
    width: 90px;
  }

  .select {
    width: calc(100% - 90px);
    margin: 10px 0;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    height: 46px;
  }
  
  .send, .reset {
    position: absolute;
    width: 248px; height: 46px;
    border-radius: 0px 0px 0px 20px;
    cursor: pointer;
    font-size: 15px;
    color: #FFFFFF;
  }

  .send {
    background: #000000;
    border: #000000;
    border-radius: 0px 0px 0px 20px;
  }

  .reset {
    left: 248px;
    background: #979797;
    border: #979797;
    border-radius: 0px 0px 20px 0px;
  }

  .error {
    width: 400px; height: 30px;
    left: 60px;
    padding: 0;
    font-size: 15px;
    color: red;
  }

  .taskError {
    top: 240px;
  }

  .robotError {
    top: 170px;
  }