
.sidebar {
  position: relative;
  width: 464px;
  height: calc(100vh - var(--header-height));
  flex-shrink: 0;
}

.tabContainer {
  position: relative;
  height: 33px; 
  display: flex; 
  justify-content: space-between; 
}

.taskBar {
  position: absolute;
  width: 230px;
  height: 33px;
  left: 1px;
  top: 0px;
  cursor: pointer;
  background-color: #FFFFFF;
}

.robotBar {
  position: absolute;
  width: 230px;
  height: 33px;
  left: 232px;
  top: 0px;
  cursor: pointer;
  background-color: #FFFFFF;
}

.taskBar.selected {
  color: #FFFFFF;
  background-color: #18283B;
}

.robotBar.selected {
  color: #FFFFFF;
  background-color: #18283B; 
}

.container {
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 465px;
  top: 40px;
  padding: 0;
}

.robotContent {
  position: relative; 
}

.actions {
  display: flex;
  align-items: center;
  background-color: #18283B;
  height: 48px;
  margin-top: 5px;
}

.robotContent .actions {
  justify-content: flex-end;
}

.taskContent .actions {
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.robotContent .addButton {
  position: absolute; 
  right: 10px; 
  bottom: 10px; 
}

.checkboxContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #eee;
}

.checkboxContainer input {
  display: none;
}

.checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #eee;
  margin-left: 8px;
  border-radius: 4px;
  margin: 0 10px 0 5px;
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: #495a68;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkboxContainer .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.addButton {
  background-color: white; 
  color: black;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px 0 0;
}

.addButton:hover {
  background-color: #495a68; 
}
